colour_imgs/
Dataset_usbc_box/
Data/
wandb/
best_model.pt
*.bag

data_bags/
data_csvs/
box_usbc_csvs/
grasp_TFOS_data_collection.py

hw3_Q1.ipynb

PyTouch/
*digit_data_unpacked/

bags-27-1-2022.zip
*box_csvs_true*
*recorded_data_csvs/
*recorded_data_bags*

*data_bags/
*.zip
*.png
*.avi
*.csv
*.jpeg
.vscode/
*.pt
*.pyc